<!--TODO: fix active link to keep settings highlighted DHG 4-16-->

<a class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/svg/display.svg" alt="">
  <div class="card-body">
    <p class="card-text">Display</p>
  </div>
</a>

<a class="card" style="width: 18rem;" routerLink="enclosures">
  <img class="card-img-top" src="assets/img/svg/hardware.svg" alt="">
  <div class="card-body">
    <p class="card-text">Hardware</p>
  </div>
</a>

<a class="btn btn-outline-info btn-fab" href="javascript:void(0)"><i class="fa fa-server"></i></a>
